# **BÀI 1: MẢNG NGẪU NHIÊN**
https://machinelearningcoban.com/2017/10/20/fundaml_vectors/

## 1.1.Mảng ngẫu nhiên các số tuân theo phân bố đều

### 1.1.1.Hàm numpy.random.rand

### 1.1.2.Hàm np.random.seed

### 1.1.3.Bài tập : Cho các số a, b, m, n trong đó a < b là hai số thực bất kỳ; m, n là các số nguyên dương. Viết hàm số tạo một mảng hai chiều có shape = (m, n), các phần tử là các số ngẫu nhiên phân bố đều trong nửa đoạn [a, b).

## 1.2.Mảng ngẫu nhiên các số tuân theo phân phối chuẩn

### 1.2.1.Lý thuyết

### 1.2.2.Bài tập: 
Cho các số a, s, m, n với:
a là một số thực bất kỳ.
s là một số thực dương.
m, n là các số nguyên dương.
Xây dựng một mảng ngẫu nhiên hai chiều có shape = (m, n) mà các phần tử của nó tuần theo phân phối chuẩn có kỳ vọng bằng a và phương sai là s.

## 1.3.Mảng ngẫu nhiên các số nguyên

## 1.4.Hoán vị

### 1.4.1.Stochastic Gradient Descent.

### 1.4.2.Chia dữ liệu training và test

### 1.4.3.Bài tập
Cho hai số tự nhiên N > k > 0 viết hàm số sample_no_replace(N, k) trả về ngẫu nhiên k số tự nhiên nằm trong tập {0, 1, ..., N-1} sao cho không có hai số nào trùng nhau.

# **BÀI 2: DEFINING FUNCTIONS**
https://lectures.scientific-python.org/intro/language/functions.html

## 2.1.Function definition

## 2.2.Return statement

## 2.3.Parameters

## 2.4.Passing by value

## 2.5.Global variables

## 2.6.Variable number of parameters

## 2.7.Docstrings

## 2.8.Functions are objects

## 2.9.Methods

## 2.10.Exercises

# **BÀI 3: PANDAS**
https://www.w3resource.com/python-exercises/pandas/index.phpSTT

In [16]:
import pandas as pd

## 3.1.Pandas Data Series (11 - 16)
https://www.w3resource.com/python-exercises/pandas/index-data-series.php
STT 45 mod 35 = 10
- Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.).

-> Pandas Series là mảng được gắn nhãn một chiều có khả năng chứa dữ liệu thuộc bất kỳ loại nào (đối tượng số nguyên, chuỗi, float, python, v.v.).

### 3.1.1.Write a Pandas program to sort a given Series. (11)

In [23]:
#Sorted Data
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series: ")
print(s)

print("\nSorted Data Series: ")
new_s = pd.Series(s).sort_values() 
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Sorted Data Series:
0       100
1       200
3    300.12
4       400
2    python
dtype: object

### 3.1.2.Write a Pandas program to add some data to an existing Series. (12)

In [28]:
#Add data
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series: ")
print(s)

print("\nData Series after adding some data: ")
new_s = pd.concat([s, pd.Series([500, "php"])], ignore_index=True) 
# ignore_index=True : để bỏ qua việc sắp xếp lại chỉ số của đối tượng kết quả
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

### 3.1.3.Write a Pandas program to create a subset of a given series based on value and condition. (13)

In [29]:
# Tạo một tập hợp con của một Series nhất định dựa trên giá trị và điều kiện
s = pd.Series([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
print("Original Data Series: ")
print(s)

print("\nSubnet of the above Data Series: ")
n = 6
new_s = s[s < n] # Các phần tử trong s nhỏ hơn n
print(new_s)

Original Data Series:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

Subnet of the above Data Series:
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

### 3.1.4.Write a Pandas program to change the order of index of a given series. (14)

In [34]:
# Thay đổi thứ tự index của Series nhất định
s = pd.Series(data = [1, 2, 3, 4, 5], index = ['A', 'B', 'C', 'D', 'E'])
print("Original Data Series: ")
print(s)

s = s.reindex(index = ['B', 'A', 'C', 'D', 'E'])
print("\nData Series after changing the order of index: ")
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64

Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

### 3.1.5.Write a Pandas program to create the mean and standard deviation of the data of a given Series. (15)

In [35]:
# Tạo giá trị trung bình và độ lệch chuẩn của dữ liệu của 1 Series nhất định
s = pd.Series([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
print("Original Data Series: ")
print(s)
print("\nMean of the said Data Series:", s.mean())
print("\nStandard deviation of the said Data Series:", s.std())

Original Data Series:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

Mean of the said Data Series: 4.5

Standard deviation of the said Data Series: 3.0276503540974917

### 3.1.6.Write a Pandas program to get the items of a given series not present in another given series. (16)

In [41]:
# Lấy các phần tử của 1 Series nhất định không có trong một Series nhất định khác
s1 = pd.Series([0, 1, 2, 3, 4])
s2 = pd.Series([3, 4, 5, 6, 7])
print("Original Data Series 1: ")
print(s1)
print("\nOriginal Data Series 2: ")
print(s2)

print("\nItems of s1 not present in s2:")
print(s1[~s1.isin(s2)])

#s1.isin(s2) : Kiểm tra xem các phần tử trong s1 có xuất hiện trong s2 không. (Return True/False)

Original Data Series 1:
0    0
1    1
2    2
3    3
4    4
dtype: int64

Original Data Series 2:
0    3
1    4
2    5
3    6
4    7
dtype: int64

Items of s1 not present in s2:
0    0
1    1
2    2
dtype: int64

## 3.2.Pandas DataFrame (46 - 51)
STT 45 mod 76 = 45

### 3.2.1.Write a Pandas program to check whether a given column is present in a DataFrame or not. (46)

In [69]:
#Kiểm tra một cột nhất định có trong DataFrame hay không
d = {'col1' : [1, 2, 3, 4, 7], 'col2' : [4, 5, 6, 9, 5], 'col3' : [7, 8, 12, 1, 11]}
df = pd.DataFrame(data = d)
print("Original Dataframe")
print(df)

if 'col4' in df.columns:
    print("\nCol4 is present in DataFrame.")
else:
    print("\nCol4 is not present in DataFrame.")
if 'col1' in df.columns:
    print("\nCol1 is present in DataFrame.")
else:
     print("\nCol1 is not present in DataFrame.")

Original Dataframe
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Col4 is not present in DataFrame.

Col1 is present in DataFrame.

### 3.2.2.Write a Pandas program to get the specified row value of a given DataFrame. (47)

In [47]:
# Lấy giá trị của 1 hàng trong DataFrame nhất định 
d = {'col1' : [1, 2, 3, 4, 7], 'col2' : [4, 5, 6, 9, 5], 'col3' : [7, 8, 12, 1, 11]}
df = pd.DataFrame(data = d)
print("Original Dataframe")
print(df)

print("\nValue of Row1")
print(df.iloc[0])

print("\nValue of Row4")
print(df.iloc[3])

Original Dataframe
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Value of Row1
col1    1
col2    4
col3    7
Name: 0, dtype: int64

Value of Row4
col1    4
col2    9
col3    1
Name: 3, dtype: int64

### 3.2.3.Write a Pandas program to get the datatypes of columns of a DataFrame. (48)

In [50]:
# Lấy kiểu dữ liệu của các cột trong DataFrame nhất định
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print("Original DataFrame:")
print(df)

print("\nData types of the columns of the DataFrame:")
print(df.dtypes)

Original DataFrame:
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

Data types of the columns of the DataFrame:
name         object
score       float64
attempts      int64
qualify      object
dtype: object

### 3.2.4.Write a Pandas program to append data to an empty DataFrame. (49)

In [62]:
# Append dữ liệu vào một DataFrame rỗng

df = pd.DataFrame()
data = pd.DataFrame({"col1" : range(3), "col2" : range(3)})

print("\nAfter appending some data: ")
df = df.append(data)
print(df)

After appending some data:

AttributeError: 'DataFrame' object has no attribute 'concat'

### 3.2.5. Write a Pandas program to sort a given DataFrame by two or more columns. (50)

In [65]:
# Sắp xếp DataFrame bởi 2 hoặc nhiều cột
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print("Original DataFrame:")
print(df)

print("\nSort the above DataFrame on attempts, name:")
df = df.sort_values(['attempts', 'name'], ascending=[True, True])
print(df)

Original DataFrame:
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

Sort the above DataFrame on attempts, name:
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
9      Jonas   19.0         1     yes
7      Laura    NaN         1      no
6    Matthew   14.5         1     yes
4      Emily    9.0         2      no
2  Katherine   16.5         2     yes
8      Kevin    8.0         2      no
1       Dima    9.0         3      no
3      James    NaN         3      no
5    Michael   20.0         3     yes

### 3.2.6. Write a Pandas program to convert the datatype of a given column (floats to ints). (51)

In [67]:
# Chuyển đổi kiểu dữ liệu(floats to ints)
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, 8, 9, 20, 14.5, 7, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print("Original DataFrame:")
print(df)

print("\nData types of the columns of the DataFrame:")
print(df.dtypes)
print("\nNow change the Data types of 'score' col from float to int:")
df.score = df.score.astype(int)
print(df)
print("\nData types of the columns of the DataFrame now:")
print(df.dtypes)

Original DataFrame:
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    8.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    7.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

Data types of the columns of the DataFrame:
name         object
score       float64
attempts      int64
qualify      object
dtype: object

Now change the Data types of 'score' col from float to int:
        name  score  attempts qualify
0  Anastasia     12         1     yes
1       Dima      9         3      no
2  Katherine     16         2     yes
3      James      8         3      no
4      Emily      9         2      no
5    Michael     20         3     yes
6    Matthew     14         1     yes
7      Laura      7         1      no
8      Kevin      8         2      no
9      Jonas     19         1     yes

Data types of the columns of the DataFrame now:
name        object
score        int32
attempts     int64
qualify     object
dtype: object

## 3.3.Pandas Indexing (2 - 7)
STT 45 mod 11 = 1

### 3.3.1.Write a Pandas program to create a multi Index frame using two columns and using an Index and a column. (2)

In [74]:
# Tạo 1 mutil Index Frame
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
print("Original DataFrame:")
print(df)

print("\nDefault Index:")
print(df.head(10))

print("\nschool_code as new Index")
df1 = df.set_index('school_code')
print(df1)

print("\nt_id as new Index:")
df2 = df.set_index('t_id')
print(df2)

Original DataFrame:
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6

Default Index:
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6

school_code as new Index
            class            name date_Of_Birth  weight  address t_id
school_code
s001            V  Alberto Franco    15/05/2002      35  street1   t1
s002            V    Gino Mcneill    17/05/2002      32  street2   t2
s003           VI     Ryan Parkes    16/02/1999      33  street3   t3
s001           VI    Eesha Hinton    25/09/1998      30  street1   t4
s002            V    Gino Mcneill    11/05/2002      31  street2   t5
s004           VI    David Parkes    15/09/1997      32  street4   t6

t_id as new Index:
     school_code class            name date_Of_Birth  weight  address
t_id
t1          s001     V  Alberto Franco    15/05/2002      35  street1
t2          s002     V    Gino Mcneill    17/05/2002      32  street2
t3          s003    VI     Ryan Parkes    16/02/1999      33  street3
t4          s001    VI    Eesha Hinton    25/09/1998      30  street1
t5          s002     V    Gino Mcneill    11/05/2002      31  street2
t6          s004    VI    David Parkes    15/09/1997      32  street4

### 3.3.2.Write a Pandas program to display the default index and set a column as an Index in a given dataframe and then reset the index. (3)

In [77]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
print("Original DataFrame:")
print(df)

print("\nDefault Index:")
print(df.head(10))

print("\nt_id as new Index:")
df1 = df.set_index('t_id')
print(df1)

print("\nReset the index:")
df2 = df1.reset_index(inplace=False)
print(df2)

Original DataFrame:
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6

Default Index:
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6

t_id as new Index:
     school_code class            name date_Of_Birth  weight  address
t_id
t1          s001     V  Alberto Franco    15/05/2002      35  street1
t2          s002     V    Gino Mcneill    17/05/2002      32  street2
t3          s003    VI     Ryan Parkes    16/02/1999      33  street3
t4          s001    VI    Eesha Hinton    25/09/1998      30  street1
t5          s002     V    Gino Mcneill    11/05/2002      31  street2
t6          s004    VI    David Parkes    15/09/1997      32  street4

Reset the index:
  t_id school_code class            name date_Of_Birth  weight  address
0   t1        s001     V  Alberto Franco    15/05/2002      35  street1
1   t2        s002     V    Gino Mcneill    17/05/2002      32  street2
2   t3        s003    VI     Ryan Parkes    16/02/1999      33  street3
3   t4        s001    VI    Eesha Hinton    25/09/1998      30  street1
4   t5        s002     V    Gino Mcneill    11/05/2002      31  street2
5   t6        s004    VI    David Parkes    15/09/1997      32  street4

### 3.3.3.Write a Pandas program to create an index labels by using 64-bit integers, using floating-point numbers in a given dataframe. (4)

In [4]:
import pandas as pd
print("Create an Int64Index:")
df_i64 = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']}, index = [1, 2, 3, 4, 5, 6])
print(df_i64)

print("\nView the Index:")
print(df_i64.index)

print("\nFloating-point labels using Float64Index:")
df_f64 = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=[.1, .2, .3, .4, .5, .6])
print(df_f64)

print("\nView the Index:")
print(df_f64.index)

Create an Int64Index:
  school_code class            name date_Of_Birth  weight  address
1        s001     V  Alberto Franco    15/05/2002      35  street1
2        s002     V    Gino Mcneill    17/05/2002      32  street2
3        s003    VI     Ryan Parkes    16/02/1999      33  street3
4        s001    VI    Eesha Hinton    25/09/1998      30  street1
5        s002     V    Gino Mcneill    11/05/2002      31  street2
6        s004    VI    David Parkes    15/09/1997      32  street4

View the Index:
Index([1, 2, 3, 4, 5, 6], dtype='int64')

Floating-point labels using Float64Index:
    school_code class            name date_Of_Birth   weight  address
0.1        s001     V  Alberto Franco     15/05/2002      35  street1
0.2        s002     V    Gino Mcneill     17/05/2002      32  street2
0.3        s003    VI     Ryan Parkes     16/02/1999      33  street3
0.4        s001    VI    Eesha Hinton     25/09/1998      30  street1
0.5        s002     V    Gino Mcneill     11/05/2002      31  street2
0.6        s004    VI    David Parkes     15/09/1997      32  street4

View the Index:
Index([0.1, 0.2, 0.3, 0.4, 0.5, 0.6], dtype='float64')

### 3.3.4.Write a Pandas program to create a DataFrame using intervals as an index. (5)

In [8]:
# Tạo DataFrame bằng cách sử dụng các khoảng làm chỉ mục.
print("Create an Interval Index using IntervalIndex.from_breaks:")
df_interval = pd.DataFrame({"X" : [1, 2, 3, 4, 5, 6, 7]}, index = pd.IntervalIndex.from_breaks([0, 0.5, 1.0, 1.5, 2.0, 2.5, 3, 3.5]))
print(df_interval)
print(df_interval.index)

print("\nCreate an Interval Index using IntervalIndex.from_tuples:")
df_interval = pd.DataFrame({"X" : [1, 2, 3, 4, 5, 6, 7]}, index = pd.IntervalIndex.from_tuples([(0, .5), (.5, 1), (1, 1.5), (1.5, 2), (2, 2.5), (2.5, 3), (3, 3.5)]))
print(df_interval)
print(df_interval.index)

print("\nCreate an Interval Index using IntervalIndex.from_arrays:")
df_interval = pd.DataFrame({"X":[1, 2, 3, 4, 5, 6, 7]},             
                            index = pd.IntervalIndex.from_arrays(
                            [0, .5, 1, 1.5, 2, 2.5, 3], [.5, 1, 1.5, 2, 2.5, 3, 3.5]))
print(df_interval)
print(df_interval.index)

Create an Interval Index using IntervalIndex.from_breaks:
            X
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4
(2.0, 2.5]  5
(2.5, 3.0]  6
(3.0, 3.5]  7
IntervalIndex([(0.0, 0.5], (0.5, 1.0], (1.0, 1.5], (1.5, 2.0], (2.0, 2.5], (2.5, 3.0], (3.0, 3.5]], dtype='interval[float64, right]')

Create an Interval Index using IntervalIndex.from_tuples:
            X
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4
(2.0, 2.5]  5
(2.5, 3.0]  6
(3.0, 3.5]  7
IntervalIndex([(0.0, 0.5], (0.5, 1.0], (1.0, 1.5], (1.5, 2.0], (2.0, 2.5], (2.5, 3.0], (3.0, 3.5]], dtype='interval[float64, right]')

Create an Interval Index using IntervalIndex.from_arrays:
            X
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4
(2.0, 2.5]  5
(2.5, 3.0]  6
(3.0, 3.5]  7
IntervalIndex([(0.0, 0.5], (0.5, 1.0], (1.0, 1.5], (1.5, 2.0], (2.0, 2.5], (2.5, 3.0], (3.0, 3.5]], dtype='interval[float64, right]')

### 3.3.5.Write a Pandas program to create a dataframe indexing by date and time. (6)

In [13]:
# Tạo index bằng ngày và giờ
print("Create a dataframe, indexing by date and time:")

dt_range = pd.date_range(start = '2020-05-12 07:10:10', freq='H', periods=10)
df_dt = pd.DataFrame({"Sale_amt" : [100, 110, 117, 150, 112, 99, 129, 135, 140, 150]},
                     index = dt_range)
print(df_dt)

Create a dataframe, indexing by date and time:
                     Sale_amt
2020-05-12 07:10:10       100
2020-05-12 08:10:10       110
2020-05-12 09:10:10       117
2020-05-12 10:10:10       150
2020-05-12 11:10:10       112
2020-05-12 12:10:10        99
2020-05-12 13:10:10       129
2020-05-12 14:10:10       135
2020-05-12 15:10:10       140
2020-05-12 16:10:10       150

### 3.3.6.Write a Pandas program to create a dataframe and set a title or name of the index column. (7)

In [17]:
#  Đặt tiêu đề hoặc tên của cột chỉ mục.
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
                                index = ['t1', 't2', 't3', 't4', 't5', 't6'])
print("Original DataFrame:")
print(df)

df.index.name = "Index_name"
print("\nSaid DataFrame with a title or name of the index column")
print(df)

Original DataFrame:
   school_code class            name date_Of_Birth  weight  address
t1        s001     V  Alberto Franco    15/05/2002      35  street1
t2        s002     V    Gino Mcneill    17/05/2002      32  street2
t3        s003    VI     Ryan Parkes    16/02/1999      33  street3
t4        s001    VI    Eesha Hinton    25/09/1998      30  street1
t5        s002     V    Gino Mcneill    11/05/2002      31  street2
t6        s004    VI    David Parkes    15/09/1997      32  street4

Said DataFrame with a title or name of the index column
           school_code class            name date_Of_Birth  weight  address
Index_name
t1                s001     V  Alberto Franco    15/05/2002      35  street1
t2                s002     V    Gino Mcneill    17/05/2002      32  street2
t3                s003    VI     Ryan Parkes    16/02/1999      33  street3
t4                s001    VI    Eesha Hinton    25/09/1998      30  street1
t5                s002     V    Gino Mcneill    11/05/2002      31  street2
t6                s004    VI    David Parkes    15/09/1997      32  street4

## 3.4.Pandas Joining and Merging DataFrame (6 - 11)
STT 45 mod 10 = 5

### 3.4.1.Write a Pandas program to join the two dataframes using the common column of both dataframes. (6)

In [19]:
# Nối hai khung dữ liệu bằng cách sử dụng cột chung của cả hai khung dữ liệu.
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)
print(student_data2)

merged_data = pd.merge(student_data1, student_data2, on = 'student_id', how = 'inner')
print("Merge data (inner join):")
print(merged_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201
Merge data (inner join):
  student_id       name_x  marks_x            name_y  marks_y
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200

### 3.4.2.Write a Pandas program to join the two dataframes with matching records from both sides where available. (7)

In [20]:
# Nối hai khung dữ liệu với các bản ghi khớp từ cả hai phía nếu có.
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)
print(student_data2)

merged_data = pd.merge(student_data1, student_data2, on = 'student_id', how = 'outer')
print("Merge data (outer join):")
print(merged_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201
Merge data (outer join):
  student_id            name_x  marks_x            name_y  marks_y
0         S1  Danniella Fenton    200.0               NaN      NaN
1         S2      Ryder Storey    210.0               NaN      NaN
2         S3      Bryce Jensen    190.0               NaN      NaN
3         S4         Ed Bernal    222.0  Scarlette Fisher    201.0
4         S5       Kwame Morin    199.0  Carla Williamson    200.0
5         S6               NaN      NaN       Dante Morse    198.0
6         S7               NaN      NaN    Kaiser William    219.0
7         S8               NaN      NaN   Madeeha Preston    201.0

### 3.4.3.Write a Pandas program to join (left join) the two dataframes using keys from left dataframe only. (8)

In [23]:
# nối (nối trái) hai khung dữ liệu chỉ sử dụng các khóa từ khung dữ liệu bên trái.
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']}) 
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
print("Original DataFrames:")
print(data1)
print("--------------------")
print(data2)

print("\nMerged Data (keys from data1):")
merged_data = pd.merge(data1, data2, how = 'left', on=['key1', 'key2'])
print(merged_data)

print("\nMerged Data (keys from data2):")
merged_data = pd.merge(data2, data1, how='left', on=['key1', 'key2'])
print(merged_data)

Original DataFrames:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
--------------------
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3

Merged Data (keys from data1):
  key1 key2   P   Q    R    S
0   K0   K0  P0  Q0   R0   S0
1   K0   K1  P1  Q1  NaN  NaN
2   K1   K0  P2  Q2   R1   S1
3   K1   K0  P2  Q2   R2   S2
4   K2   K1  P3  Q3  NaN  NaN

Merged Data (keys from data2):
  key1 key2   R   S    P    Q
0   K0   K0  R0  S0   P0   Q0
1   K1   K0  R1  S1   P2   Q2
2   K1   K0  R2  S2   P2   Q2
3   K2   K0  R3  S3  NaN  NaN

### 3.4.4.Write a Pandas program to join two dataframes using keys from right dataframe only. (9)

In [24]:
# nối (nối phải) hai khung dữ liệu chỉ sử dụng các khóa từ khung dữ liệu bên phải.
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']}) 
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
print("Original DataFrames:")
print(data1)
print("--------------------")
print(data2)
print("\nMerged Data (keys from data2):")
merged_data = pd.merge(data1, data2, how='right', on=['key1', 'key2'])
print(merged_data)
print("\nMerged Data (keys from data1):")
merged_data = pd.merge(data2, data1, how='right', on=['key1', 'key2'])
print(merged_data)

Original DataFrames:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
--------------------
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3

Merged Data (keys from data2):
  key1 key2    P    Q   R   S
0   K0   K0   P0   Q0  R0  S0
1   K1   K0   P2   Q2  R1  S1
2   K1   K0   P2   Q2  R2  S2
3   K2   K0  NaN  NaN  R3  S3

Merged Data (keys from data1):
  key1 key2    R    S   P   Q
0   K0   K0   R0   S0  P0  Q0
1   K0   K1  NaN  NaN  P1  Q1
2   K1   K0   R1   S1  P2  Q2
3   K1   K0   R2   S2  P2  Q2
4   K2   K1  NaN  NaN  P3  Q3

### 3.4.5.Write a Pandas program to merge two given datasets using multiple join keys. (10)

In [26]:
# Hợp nhất hai tập dữ liệu đã cho bằng nhiều khóa nối.
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']}) 
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
print("Original DataFrames:")
print(data1)
print("--------------------")
print(data2)

print("\nMerged Data:")
merged_data = pd.merge(data1, data2, on = ['key1', 'key2'])
print(merged_data)

Original DataFrames:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
--------------------
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3

Merged Data:
  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

### 3.4.6.Write a Pandas program to create a new DataFrame based on existing series, using specified argument and override the existing columns names. (11)

In [29]:
#  Tạo DataFrame mới dựa trên chuỗi hiện có, sử dụng đối số được chỉ định và ghi đè tên cột hiện có.
s1 = pd.Series([0, 1, 2, 3], name='col1')
s2 = pd.Series([0, 1, 2, 3])
s3 = pd.Series([0, 1, 4, 5], name = 'col3')

df = pd.concat([s1, s2, s3], axis = 1, keys = ['column1', 'column2', 'column3'])
print(df)

   column1  column2  column3
0        0        0        0
1        1        1        1
2        2        2        4
3        3        3        5

## 3.5.Pandas Filter (2 - 7)
STT 45 mod 22 = 1

### 3.5.1.Write a Pandas program to select first 2 rows, 2 columns and specific two columns from World alcohol consumption dataset. (2)

In [34]:
# Chọn 2 hàng đầu tiên, 2 cột và hai cột cụ thể từ bộ dữ liệu về mức tiêu thụ rượu trên thế giới.
w_a_con = pd.read_csv('../LAB2/world_alcohol.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())

print("\nSelect first 2 rows:")
print(w_a_con.iloc[:2])

print("\nSelect first 2 columns:")
print(w_a_con.iloc[:, :2].head())

print("\nSelect 2 specific columns:")
print(w_a_con[['Display Value', 'Year']])

World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Select first 2 rows:
   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0
1  1986         Americas   Uruguay          Other            0.5

Select first 2 columns:
   Year       WHO region
0  1986  Western Pacific
1  1986         Americas
2  1985           Africa
3  1986         Americas
4  1987         Americas

Select 2 specific columns:
    Display Value  Year
0            0.00  1986
1            0.50  1986
2            1.62  1985
3            4.27  1986
4            1.98  1987
..            ...   ...
95           0.00  1984
96           7.38  1985
97           0.00  1984
98           0.00  1984
99           0.00  1985

[100 rows x 2 columns]

### 3.5.2.Write a Pandas program to select random number of rows, fraction of random rows from World alcohol consumption dataset. (3)

In [36]:
# Chọn số hàng ngẫu nhiên, một phần hàng ngẫu nhiên từ bộ dữ liệu về mức tiêu thụ rượu trên thế giới.
print("World alcohol consumption sample data:")
print(w_a_con.head())
print("\nSelect random number of rows:")
print(w_a_con.sample(5))
print("\nSelect fraction of randomw rows:")
print(w_a_con.sample(frac=0.02))

World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Select random number of rows:
    Year WHO region                           Country Beverage Types  \
96  1985     Europe                        Luxembourg           Wine
98  1984     Africa                 Equatorial Guinea           Wine
30  1986     Africa                      Sierra Leone          Other
74  1986   Americas  Bolivia (Plurinational State of)        Spirits
86  1986   Americas                           Bahamas           Wine

    Display Value
96           7.38
98           0.00
30           4.48
74           2.06
86           1.83

Select fraction of randomw rows:
    Year             WHO region                           Country  \
12  1985        Western Pacific  Lao People's Democratic Republic
53  1984  Eastern Mediterranean                            Kuwait

   Beverage Types  Display Value
12           Beer            0.0
53           Beer            0.0

### 3.5.3.Write a Pandas program to find and drop the missing values from World alcohol consumption dataset. (4)

In [39]:
# Tìm và loại bỏ các giá trị còn thiếu từ bộ dữ liệu về mức tiêu thụ rượu trên thế giới.
print("World alcohol consumption sample data:")
print(w_a_con.head())

print("\nMissing values:")
print(w_a_con.isnull)

print("\nDropping the missing values:")
print(w_a_con.dropna())

World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Missing values:
<bound method DataFrame.isnull of     Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[100 rows x 5 columns]>

Dropping the missing values:
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[95 rows x 5 columns]

### 3.5.4.Write a Pandas program to remove the duplicates from 'WHO region' column of World alcohol consumption dataset. (5)

In [40]:
# Loại bỏ các bản sao khỏi cột 'Khu vực WHO' của bộ dữ liệu về mức tiêu thụ rượu trên thế giới.

print("World alcohol consumption sample data:")
print(w_a_con.head())

print("\nAfter removing the duplicates of WHO region column:")
print(w_a_con.drop_duplicates('WHO region'))

World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

After removing the duplicates of WHO region column:
    Year             WHO region       Country Beverage Types  Display Value
0   1986        Western Pacific      Viet Nam           Wine           0.00
1   1986               Americas       Uruguay          Other           0.50
2   1985                 Africa  Cte d'Ivoire           Wine           1.62
13  1984  Eastern Mediterranean   Afghanistan          Other           0.00
18  1984                 Europe        Norway        Spirits           1.62
20  1986        South-East Asia       Myanmar           Wine           0.00

### 3.5.5.Write a Pandas program to find out the alcohol consumption of a given year from the world alcohol consumption dataset. (6)

In [42]:
# Tìm hiểu mức tiêu thụ rượu trong một năm nhất định từ bộ dữ liệu về mức tiêu thụ rượu trên thế giới.
print("World alcohol consumption sample data:")
print(w_a_con.head())

print("\nThe world alcohol consumption details in the year 1985:")
print(w_a_con[w_a_con['Year'] == 1985].head(10))

print("\nThe world alcohol consumption details in the year 1989:")
print(w_a_con[w_a_con['Year'] == 1989].head(10))

World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

The world alcohol consumption details in the year 1985:
    Year       WHO region                                            Country  \
2   1985           Africa                                       Cte d'Ivoire
7   1985           Africa                                             Angola
12  1985  Western Pacific                   Lao People's Democratic Republic
14  1985  Western Pacific                                           Viet Nam
24  1985           Africa                                            Comoros
26  1985           Europe  United Kingdom of Great Britain and Northern I...
33  1985           Africa                                         Mauritania
35  1985         Americas                              Saint Kitts and Nevis
44  1985           Europe                                          Lithuania
50  1985           Europe                                        Switzerland

   Beverage Types  Display Value
2            Wine           1.62
7         Spirits           0.39
12           Beer           0.00
14        Spirits           0.05
24          Other            NaN
26           Wine           1.36
33          Other           0.00
35        Spirits           2.24
44          Other            NaN
50          Other           0.30

The world alcohol consumption details in the year 1989:
    Year             WHO region                           Country  \
11  1989               Americas                         Guatemala
17  1989                 Africa                        Seychelles
21  1989               Americas                        Costa Rica
32  1989                 Africa                         Mauritius
45  1989                 Africa                          Zimbabwe
55  1989               Americas                          Suriname
57  1989                 Europe                           Croatia
59  1989  Eastern Mediterranean              Syrian Arab Republic
64  1989               Americas  Bolivia (Plurinational State of)
65  1989  Eastern Mediterranean                           Somalia

   Beverage Types  Display Value
11           Beer           0.62
17           Beer           2.23
21        Spirits           4.51
32           Beer           1.60
45           Beer           0.19
55           Wine           0.04
57           Wine           5.10
59          Other           0.00
64           Beer           1.26
65           Beer           0.00

### 3.5.6.Write a Pandas program to find out the alcohol consumption details in the year '1987' or '1989' from the world alcohol consumption dataset. (7)

In [45]:
#  Tìm hiểu chi tiết về mức tiêu thụ rượu trong năm '1987' hoặc '1989' từ bộ dữ liệu về mức tiêu thụ rượu trên thế giới.
print("World alcohol consumption sample data:")
print(w_a_con.head())

print("\nThe world alcohol consumption details where year is 1987 or 1989:")
print((w_a_con[(w_a_con['Year'] == 1987) | (w_a_con['Year'] == 1989)]).head(10))

World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

The world alcohol consumption details where year is 1987 or 1989:
    Year       WHO region                Country Beverage Types  Display Value
4   1987         Americas  Saint Kitts and Nevis           Beer           1.98
5   1987         Americas              Guatemala          Other           0.00
6   1987           Africa              Mauritius           Wine           0.13
10  1987           Africa               Botswana           Wine           0.20
11  1989         Americas              Guatemala           Beer           0.62
15  1987           Africa          Guinea-Bissau           Wine           0.07
17  1989           Africa             Seychelles           Beer           2.23
21  1989         Americas             Costa Rica        Spirits           4.51
28  1987  Western Pacific               Viet Nam           Beer           0.11
32  1989           Africa              Mauritius           Beer           1.60

# **BÀI 4: DOCUMENTATION**
1. Seaborn Visualizing distributions of data — seaborn 0.13.1 documentation (http://pydata.org/ )
2. Visualizing categorical data — seaborn 0.13.1 documentation (http://pydata.org/ )